@include media-breakpoint-down(lg) {
    .nav-menu {
        display: none;
    }

    header {
        hr {
            display: none;
        }
    }

    .navbar-desktop {
        padding: 0 20px;
    }

    #shop-window {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .navbar-desktop {
        padding: 0 20px;
    }

    #arrow-right {
        right: 21px !important;
        top: 9px !important;
        font-size: 19px !important;
        color: var(--bs-secondary-color);
    }

    .form-control::placeholder {
        color: var(--bs-secondary-color);
        opacity: 0.8;
        font-size: 13px;
        font-weight: bold;
    }

    .account-button {
        span {
            display: none;
        }
    }
}

@include media-breakpoint-down(lg) {
    .search-box {
        display: none;
    }
}
@include media-breakpoint-up(lg) {
    
    .navbar-mobile {
        display: none;
    }

    #arrow-right {
        display: none;
    }
}


.navbar-mobile {
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1050;

    .nav-item {
        a {
            &:hover {
                * {
                    color: #8a7600 !important;
                    transition: all 500ms linear;
                }
            }
        }
    }
}


.navbar-desktop {
    .nav-item {
        a {
            :hover {
                color: #8a7600 !important;
                transition: all 500ms linear;
            }
        }
    }

    .search-box {
        position: relative;

        button {
            position: absolute;
            left: 17px;
            top: 5px;
        }
    }

    @include media-breakpoint-down(md) {
        #search-box {
            input {
                padding-right: 30px !important;
            }
        }
    }


    .navigation-buttons {
        @include media-breakpoint-down(md) {
            #shop-window {
                display: none;
            }
        }

        @include media-breakpoint-up(lg) {
            #search-window {
                display: none;
            }
        }
    }
}


// SCSS for Mega Menu
.mega-menu {
    position: absolute;
    top: 100%;
    right: 0;
    top: 67px;
    width: 300px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    z-index: 1000;
    list-style-type: none;

    li {
        padding: 10px 15px;
        border-bottom: 1px solid #eee;

        &:hover {
            background-color: #f1f1f1;
        }

        a {
            color: #333;
            text-decoration: none;
            display: block;
            font-size: 14px;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.nav-item:hover .mega-menu {
    display: block;
}