@font-face {
    font-family: "Vazir", serif;
    src: url("./Vazir.eot"), url("./Vazir.ttf"), url("./Vazir.woff"), url("./Vazir.woff2");
    font-weight: normal;
}

body{
    font-family: "Vazir";
    font-size: 12px !important;
}